@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

* {
  .warehouse-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: $white;

    &__top {
      display: flex;
      justify-content: space-between;
      margin: 16px;
      &--name {
        display: flex;
        gap: 5%;
      }
    }
  }

  .warehouse-details__middle {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-top: 1px solid $slate;
    border-bottom: 1px solid $slate;

    @include desktop {
      width: 1020px;
    }

    &--container {
      display: flex;
      gap: 3rem;
    }
  }

  .warehouse-details__bottom {
    margin: 1rem;
    display: flex;
    gap: 4.3rem;

    &--inventory {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  .warehouse-details__inventory {
    border-bottom: 1px solid $slate;
    &--actions {
      margin: 1rem;
      display: flex;
      justify-content: space-between;
    }
  }
}
