@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

* {
  .warehouse-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: $white;

    @include desktop {
      width: 1020px;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $cloud;
      padding: 2rem 1rem 24px 1rem;

      @include tablet {
        padding: 2rem 2rem 21px 2rem;
        font-size: 15px;
      }

      @include desktop {
        padding: 2rem 40px 21px 40px;
        font-size: 15px;
      }

      &--name {
        display: flex;
        gap: 5%;
      }
    }

    &__back {
      display: flex;
      align-items: center;
    }

    &__edit-icon {
      &--link {
        text-decoration: none;
      }

      &--circle {
        background-color: $instock-indigo;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 3.125rem;
        text-decoration: none;

        @include tablet {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
        }

        @include tablet {
          width: 75px;
          height: 38px;
        }

        &-text {
          display: none;
          text-decoration: none;

          @include tablet {
            display: block;
            color: $white;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            text-decoration: none;
          }
        }
      }

      &--img {
        filter: brightness(4) sepia(0) hue-rotate(0deg) saturate(0);
        height: 20px;
        width: 20px;
        @include tablet {
          margin-right: 4px;
        }
      }
    }
  }
  //    Text starts

  .warehouse-details__middle {
    font-family: TitilliumWeb;
    font-weight: 400;
    font-size: 12px;
    color: $slate;

    &--container {
      display: flex;
      justify-content: flex-start;
    }

    &--top {
      @include tablet {
        margin-right: 121px;
      }
      @include desktop {
        margin-right: 245px;
      }
    }

    &--container--contact-name {
      padding-right: 24px;
      @include tablet {
        padding-left: 40px;
        border-left: 1px solid $cloud;
      }
    }

    &-container--paragraph {
      color: $instock-black;
    }

    &-address-item {
      color: $instock-black;
    }

    &-name-item {
      color: $instock-black;
    }
  }

  // Text ends

  // Middle Start
  .warehouse-details__middle {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    @include tablet {
      border: none;
      flex-direction: row;
      justify-content: flex-start;
      margin: 1rem 40px;
    }
    gap: 1rem;

    &--paragraph {
      display: flex;
      gap: 0.5rem;
    }
  }
}

// Inventory header

.warehouse-details-inventory {
  &__headings-container {
    background-color: $light-grey;
  }

  &__headings {
    display: none;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 2.5rem;
      height: 2rem;
      align-items: center;
    }
  }

  &__titles {
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  &__titles-inventory-name {
    width: 22%;
  }

  &__titles-category,
  &__titles-qty {
    width: 18%;
  }

  &__titles-status {
    width: 28%;
  }

  &__titles-actions {
    width: 10%;
  }

  &__titles-actions {
    justify-content: flex-end;
  }

  &__heading-icon {
    width: 1rem;
    margin-left: 4px;
  }
}

// Inventory List

.inventory-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  @include tablet {
    flex-direction: column;
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 1px solid $cloud;
    padding: 1rem;
    color: $instock-black;
    font-size: 0.6875rem;
    line-height: 1rem;
    height: 180px;
    position: relative;
    text-overflow: clip;

    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 18px 2.5rem;
      height: 58px;
      align-items: center;
    }
  }

  &__inventory-name-container {
    padding-bottom: 1rem;
    width: 50%;

    @include tablet {
      padding-bottom: 0;
      width: 22%;
    }
  }

  &__category-container,
  &__quantity-container {
    padding-bottom: 1rem;
    width: 50%;

    @include tablet {
      padding-bottom: 0;
      width: 18%;
    }
  }

  &__status-container {
    display: flex;
    padding-bottom: 1rem;
    width: 50%;

    @include tablet {
      flex-direction: row;
      padding-bottom: 0;
      width: 28%;
    }
  }

  &__status-icon-container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__actions-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
    right: 1rem;

    @include tablet {
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      justify-content: flex-end;
      padding-bottom: 0;
      width: 10%;
    }
  }

  &__mobile-header {
    color: $slate;
    font-size: 11px;
    font-weight: 600;
    padding-bottom: 0.25rem;

    @include tablet {
      display: none;
    }
  }

  &__item-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $instock-indigo;
  }

  &__item-name {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    line-height: 1.125rem;

    &--category {
      font-size: 13px;
      line-height: 1.125rem;
      @include tablet {
        // margin-left: 4rem;
      }
    }
  }

  &__status {
    font-size: 13px;
    padding: 4px 8px;

    &--in-stock {
      color: #158463;
      background: rgba(21, 132, 99, 0.07);
      height: 26px;
      border-radius: 20px;
      text-align: center;
    }

    &--out-of-stock {
      color: #c94515;
      background: rgba(201, 69, 21, 0.07);
      height: 26px;
      border-radius: 20px;
      text-align: center;
    }
  }

  &__action {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
    right: 1rem;

    @include tablet {
      width: 10%;
      justify-content: flex-end;
      position: relative;
      bottom: 0rem;
      left: 0.25rem;
      gap: 1rem;
    }
  }

  &__icon {
    width: 1.5rem;
    cursor: pointer;
    &--delete {
      margin-right: 1rem;
    }
  }
}
