@font-face {
    font-family: "TitilliumWeb";
    font-weight: 400;
    src: url(../../assets/fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: "TitilliumWeb";
    font-weight: 600;
    src: url(../../assets/fonts/TitilliumWeb-SemiBold.ttf);
}