@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

* {
 


    .inventory-details{
        background-color: $white;
  border-radius: 0.1875rem;
  width: 21.4375rem;


        &__header{
            display: flex;
            justify-content: space-between;
            margin: 2rem;

            &__long{
                display: flex;
                align-items: center;
            }

            &--img{
                background-color: $instock-indigo;
                padding: 10px;
                
            }
        }

    }


}