@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

* {
  body.active-modal {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
  }

  .modal {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .modal-content__mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .modal-content__text-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    gap: 320px;

    margin: 16px;

    &--text {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &--header {
      font-size: 1.25rem;
      font-family: TitilliumWeb;
      font-weight: 600;
      font-size: 1.75rem;
    }

    &--paragraph {
      font-family: TitilliumWeb;
      font-weight: 400;
      font-size: 0.9375rem;
    }
  }

  .modal-content {
    background-color: white;
    padding-bottom: 100vh;
    font-family: sans-serif;
  }

  .close-modal-box {
    display: flex;
    justify-content: end;
    padding-right: 16px;
    padding-top: 16px;

    @include tablet {
      padding-top: 560px;
    }
  }

  .modal__buttons {
    display: flex;
    justify-content: space-evenly;

    &--close {
      background-color: $white;
      width: 7.8125rem;
      height: 2.25rem;

      border: 0.0625rem solid #bdc5d5;
      border-radius: 1.25rem;
      font-family: TitilliumWeb;
      font-weight: 600;
      font-size: 0.8125rem;
      line-height: 1.25rem;
      color: $slate;
    }

    &--delete {
      background-color: #c94515;
      color: $white;
      width: 7.8125rem;
      height: 2.25rem;
      border: 0.0625rem solid #bdc5d5;
      border-radius: 1.25rem;
      font-family: TitilliumWeb;
      font-weight: 600;
      font-size: 0.8125rem;
      line-height: 1.25rem;
    }
  }
}

@include tablet {
  .modal-content__text-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 16px;
    margin: 16px;
  }

  .btn-modal {
    padding: 0.625rem 1.25rem;
    display: block;
    margin: 6.25rem auto 0;
    font-size: 1.125rem;
  }

  .modal,
  .overlay {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }

  .overlay {
    background: rgba(49, 59, 99, 0.2);
  }

  .modal-content {
    position: absolute;

    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 1.25rem 1.875rem;
    border-radius: 0.1875rem;
    max-width: 43.75rem;
    min-width: 18.75rem;
    height: 14.0625rem;
    font-family: sans-serif;
    border-radius: 0.9375rem;

    @include tablet {
      max-width: none;
      height: auto;
    }
  }

  .close-modal {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    padding: 0.3125rem 0.4375rem;

    &-box {
      padding-top: 0;
    }
  }

  .modal__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 2.1%;

    &--close {
      width: 5rem;
    }

    &--delete {
      width: 5rem;
    }
  }
}
