@import "../../styles/partials/global";
@import "../../styles/partials/mixins";
@import "../../styles/partials/fonts";
@import "../../styles/partials/variables";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 96px;
  @include tablet {
    height: 98px;
  }
  @include desktop {
    height: 114px;
  }
}
