@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.add-inventory {
  background-color: $white;
  border-radius: 0.1875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include desktop {
    width: 63.75rem;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 2rem 1.75rem 1.5rem 1.75rem;
    border-bottom: 0.0625rem solid $cloud;
  }

  &__back-arrow {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.75rem;
    margin-bottom: 36px;
    @include tablet {
      margin-bottom: 0;
    }
  }

  &__back-arrow-link {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 1.75rem;
    line-height: 36px;
    font-weight: 600;
  }

  &__form {
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__form-inputs {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }

  &__details {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
      padding: 0 1.5rem;
      margin: 24px 0;
      min-width: 351px;
      flex: 1;
      display: block;
    }

    @include desktop {
      padding: 0 40px;
      width: 510px;
    }

    &--border {
      border-bottom: 0.0625rem solid $cloud;
      @include tablet {
        border-bottom: none;
        border-right: 0.0625rem solid $cloud;
      }
    }
  }

  &__details-title {
    margin: 1rem 0 1.5rem 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  &__label {
    display: flex;
    flex-direction: column;
    font-size: 0.8125rem;
    line-height: 1.25rem;
  }

  &__input {
    padding: 0.5rem 1rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    border-radius: 1.25rem;
    border: 0.0625rem solid $cloud;

    &--description {
      height: 7.5rem;
      resize: none;
    }
    &--quantity {
      @include tablet {
        width: 122px;
      }
    }
    &--error {
      border: 0.0625rem solid $red;
      margin-bottom: 4px;
    }
    // Active input border
    &:focus {
      border: 1px solid $instock-indigo;
      background-color: $white;
      outline: 0;
    }

    &::placeholder {
      color: $slate;
    }

    &--placeholder {
      color: $slate;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__error {
    display: flex;
    align-items: center;
    color: $red;
    margin-bottom: 10px;
  }

  &__error-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  select {
    /* Removes the old arrow */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Use the arrow from assets*/
    background-image: url("../../assets/icons/arrow_drop_down-24px.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 0.625rem) center;
  }

  &__radio-container {
    display: flex;
    margin-top: 0.375rem;
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 24px;
    }
  }

  &__radio-block {
    display: flex;
    align-items: center;
  }

  &__radio {
    margin-right: 0.5rem;
  }

  &__instock-label {
    margin-right: 5.5625rem;
  }

  &__footer {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
    background-color: $light-grey;
    @include tablet {
      justify-content: flex-end;
      padding: 1rem 2rem;
    }
  }

  &__button {
    min-width: 7.5rem;
    max-width: 8.6875rem;
    height: 2.25rem;
    border-radius: 1.25rem;
    border: none;
    font-weight: 600;
    @include tablet {
      width: 61px;
      height: 38px;
    }
    &--cancel {
      background-color: $white;
      color: $slate;
      border: 0.0625rem solid $cloud;
      margin-right: 16px;
    }
    &--add {
      background-color: $instock-indigo;
      color: $white;
      @include tablet {
        width: 98px;
      }
    }
  }
}
