@use "../../styles/partials/global" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouse {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;

    &__header-container {
        padding-top: 2rem;
    }
}